h1 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 8vh;
  color: #001D4A;
}

.head-box {
  background-color: #9DD1F1;
  display: flex;
  justify-content: center;
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 5vh;
  color: #001D4A;
}

h3 {
  font-family: ohno-blazeface, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4vh;
  color: #001D4A;
}


button {
  height: 10vh;
  width: 20vh;
  font-size: 3vh;
  background-color: #27476E;
  border-radius: 22px;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 3vh;
  color:#ffffff;
}

button:hover {
  background-color: #192c44;
}

body {
  background-color: #9DD1F1;
}

.body-box {
  display: flex;
  justify-content: center;
}


/* The pop up form - hidden by default */

.form-popup {
  display: none;
  position: absolute;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  z-index: 9;
}

.form-content {
  display: flex;
  border-radius: 20px;
  width:40vh; 
  height: 50vh;
  border: 3px solid #001D4A;
  padding: 20px;
  background-color: #9DD1F1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.isRead{
  display: flex;
  height: 60px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

label {
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2vh;
}

input {
  border-radius: 10px;
  height: 40px;
  width: 200px;
  margin: 7px;
  background-color: #d0edff;
  border: none;
  font-family: poppins, sans-serif;
  font-weight: 300;
}

#submit {
  margin: 4px;
  height: 50px;
  border-radius: 15px;
  color: #ffffff;
}

input[type=checkbox] {
    width: 20px;
    margin: 10px;
}


/* FOOTER */

footer {
    margin: 5px;
    margin-top: 15px;
    font-family: poppins, sans-serif;
    font-weight: 900;
    font-style: normal; 
    color:  #27476E;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fa-github {
    color:  #27476E;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
  
    transform: rotate(360deg) scale(1.2);
  }